@import "tailwindcss";

:root {
  --orange: rgb(255, 122, 122);
  --green: rgb(56, 204, 140);
  --blue: rgb(96, 85, 165);
  --dark-blue:  rgb(62, 60, 73);
  --blue-shadow: rgba(62, 60, 73, 0.3);
  --green-shadow: rgb(57, 123, 90);
  --grayish-blue: rgb(185, 182, 211);
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --shadow: 0px 8px 0px 0px var(--blue-shadow);
  --gshadow:  0px 3px 0px 0px var(--green-shadow);
  --orange: var(--orange);
  --blue: var(--blue);
  --dark-blue:  var(--dark-blue);
  --blue-shadow: var(--blue-shadow);
  --green-shadow: var(--green-shadow);
  --grayish-blue: var(--grayish-blue);
}

body {
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;

  a, button { 
    cursor: pointer;
  }
}
